#post
{
	border-radius: 4px;
	box-shadow: 0px 3px 5px rgba(8,8,8,.5);
	font-size: 12px;
	margin: 0 0 3em 0;
	padding: .3em;
	position: relative;
	text-align: center;
	text-transform: capitalize;
	border-top: 1px solid rgba(255,255,255,.5)
}

#contenido
{
	text-align: justify;
}

#fecha
{
	font-size: 10px;
}

#autor
{
	color: #694B72;
	text-decoration: none;
}

