{% extends 'base.html' %}

{% block contenido %}

	{% for post in posts %}
		<article class="item">
			<figure class="imagen_item">
				<!-- <img src="/publicaciones/imagenes/miramar.jpg"> -->
			</figure>
			<h2 class="titulo_item">
			 	<a href="post/{{post.pk}}">{{post.titulo}}</a>
			</h2>
			<p class="contenido_item">
				{{ post.resumen }}
			</p>
			<div class="informacion">
				
				<a class="fecha_creacion">
					{{post.fecha_creacion|date:'SHORT_DATETIME_FORMAT'}}
				</a>

				<a href="#" class="autor_post">
					by {{post.autor}}
				</a>

			</div>
		</article>
	
	{% endfor %}


{% endblock %}